<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>OLD IS GOLD</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
<body>

  <!-- Navigation Bar Section -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navigation">
    <a class="navbar-brand" href="/"><img class="logo" src="/logo2.jpg" alt="logo picture"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active ">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>


        <!-- Sell Items Section -->
        <li class="nav-item dropdown automatic">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sell
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/sell/electronics">Electronics Item</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/sell/cycles">Cycles</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Books</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Dress</a>
          </div>
        </li>

        <!-- Buy Items Section -->
        <li class="nav-item dropdown automatic">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Buy
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/buy/electronics">Electronics Item</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/buy/cycles">Cycles</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Books</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Dress</a>
          </div>
        </li>

        <!-- Remove Items Section -->
        <li class="nav-item dropdown automatic">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Remove
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/remove/electronics">Electronics Item</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/remove/cycles">Cycles</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Books</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Dress</a>
          </div>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="#">About Us<span class="sr-only">(current)</span></a>
        </li>


        <li class="nav-item active">
          <a class="nav-link" href="#">Contact Us<span class="sr-only">(current)</span></a>
        </li>


      </ul>
    </div>
  </nav>

  <div class="main">
